@forward "globals";
@forward "components";

.mainTransitionIn {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

// img.vert-move {
//     -webkit-animation: mover 1s infinite  alternate;
//     animation: mover 1s infinite  alternate;
// }
// @-webkit-keyframes mover {
//     0% { transform: translateY(0); }
//     100% { transform: translateY(-10px); }
// }
