@use "../util/" as ul;
%buttonStyle {
  padding: 0px 10px;
  background-color: #22333b;
  // font-family: "Rubik Iso", cursive;
  // font-family: "Silkscreen", cursive;
  font-size: 3rem;
  border: 2.5px solid #14a085;
  border-radius: 20px;
}

.game__details {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  text-align: center;
  font-size: 2.3rem;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  @include ul.breakpoint(xLarge) {
    margin-top: 40px;
    font-size: 2.2rem;
  }
  @include ul.breakpoint(large) {
    margin-top: 40px;
    font-size: 2rem;
  }
  @include ul.breakpoint(medium) {
    margin-top: 40px;
    font-size: 1.5rem;
  }
  &__scoreboard {
    border-top: 3.5px solid #a18976;
    border-bottom: 3.5px solid #a18976;
    border-radius: 50px;
    padding: 20px;
  }
  &__round {
    border-bottom: 2px solid #14a085;
    border-radius: 7px;
  }
  &__restart {
    display: flex;
    justify-content: center;
    &__button {
      @extend %buttonStyle;
      // margin: 20px;
      &:hover {
        background-color: #000000;
        box-shadow: 0px 0px 15px 0px #14a085;
        transform: translateY(4px);
      }
      &:active {
        top: 10px;
        background-color: #ffffff;
      }
    }
  }
  &__pause {
    transition: all 1s;
    // color: white;
  }
}

.game__score__current {
  padding-top: 10px;
  padding-bottom: 10px;
}

.gameOver {
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  border-radius: 20px;
  padding: 0px;
  margin: 0 auto;
  border: 0;
}

.reset__border {
  border-top: 3.5px solid #a18976;
  border-bottom: 3.5px solid #a18976;
  padding: 20px;
  border-radius: 50px;
}

.hideBorder {
  border-top: 0;
  border-bottom: 0;
}
