%buttonStyle {
  padding: 0px 10px;
  background-color: #22333b;
  font-family: "Rubik Iso", cursive;
  font-family: "Silkscreen", cursive;
  font-size: 60px;
  border: 2.5px solid #14a085;
  border-radius: 20px;
}

.start__button {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  background-color: #000000;
  box-shadow: 0px 0px 15px 0px #14a085;
  @extend %buttonStyle;
  & > a {
    font-family: "Rubik Iso", cursive;
    font-family: "Silkscreen", cursive;
    text-decoration: none;
  }
  &:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px #14a085;
  }
}
